.task {
	margin: 30px 0;
	background: #F8F9FA;
	border: 1px solid #DEE2E6;
	padding: 15px;
	display: flex;
	flex-direction: column;
	transition: .1s;
}

.task:hover {
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
	cursor: pointer;
}
.task-name {
	font-size: 30px;
	font-weight: bold;
}
.task-creator {
	font-size: 20px;
	color: #323232;
}

.task-desc {
	color: #5B5B5B;
	margin: 10px 0;
	width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-points, .task-time, .task-collaborator-count {
	color: #5B5B5B;
	font-weight: bold;
}
.task-points {
	color: #353535;
}
.task-stats {
	display: flex;
	justify-content: space-between;
	width: 100%;
}