table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--table-border);
}

th, td {
  text-align: left;
  padding: 16px;
}

td.acceptreject {
  display: flex;
  justify-content: flex-end;
}

tr:nth-child(even) {
  background-color: var(--foreground-4);
}

.accept-button {
  background: var(--focus-green-light);
  margin-right: 20px;
}
.accept-button:hover {
  background: var(--focus-green-dark);
}

.reject-button {
  background: var(--focus-red-light);
}
.reject-button:hover {
  background: var(--focus-red-dark);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

