:root {
  --text-main: #323232;
  --text-weak: #525252;
  --text-medium-1: #4a4a4a;
  --text-medium-2: #3d3d3d;
  --text-light: #ababab;

  --input-text: #495057;
  --input-border: #ced4da;

  --table-border: #ddd;
  --close-button: #aaa;
  --close-button-hover: black;
  --level-display-bg: #eee;

  --foreground-0: white;
  --foreground-1: #F8F9FA;
  --foreground-2: #e5e5f7;
  --foreground-3: #F5F5FF;
  --foreground-4: #f2f2f2;


  --tag-text: #8282a1;
  --tag-remove:#b4b4d4;

  --border-1: #DEE2E6;

  --background-1: #EDF1F2;

  --focus-skyblue: #3DB2FF; /* used for: tasks completed*/
  --focus-pink: #f037a5; /* used for: points*/
  --focus-mint: #57CC99; /* used for: active tasks*/
  
  --focus-selectblue : #007bff; /* used for: drop down selection*/
  --focus-navyblue: #2D46B9;

  --focus-green-light: #2FDD92;
  --focus-green-dark: #34BE82;

  --focus-red-light: #EC255A;
  --focus-red-dark: #d11749;

  --error-red: #ff759d;
  --error-text: #8a1134;

  font-size: 2vh;
}


/*@media (prefers-color-scheme: dark) {
  :root {

  }
}*/




#user-information-dropname {
  background: none;
  padding: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

#user-information-dropname:hover, #user-information-dropname:focus {color: #4a4a4a;}

#user-information-dropname {
  position: relative;
  display: inline-block;
}

#user-information-dropdown-content {
  border-radius: 10px;
  border: 1px var(--border-1) solid;
  background: var(--foreground-1);
  display: none;
  position: absolute;
  right: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
  min-width: 125px;
  flex-direction: column;
  padding: 8px 0px;
}

#user-information-dropdown-content.show {
  display: flex;
}

#user-information-dropdown-content a {
  text-align: left;
  background: none;
  border: none;
  color: black;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
#user-information-dropdown-content .sep {
  border: .5px var(--border-1) solid;
  width: 100%;
  height: 0px;
  color: black;
  margin: 5px 0;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

#user-information-dropdown-content a:hover {
  color: white;
  background-color: var(--focus-selectblue);
}

.level-display {
  stroke: var(--focus-pink);
  fill: none;
  stroke-width: 3.5;
  /*stroke-linecap: round;*/
  animation: progress 1s ease-out forwards;
}

.level-display-outer {
  width: 50px;
}

.level-display-bg {
fill: none;
  stroke: var(--level-display-bg);
  stroke-width: 4;
}

.level {
  fill: var(--focus-pink);
  font-family: sans-serif;
  font-size: 1.2em;
  text-anchor: middle;
}

.notification-circle {
  content: "";
  position: absolute;
  top: 10%;
  right: 10%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--focus-red-light);
  font-size: 9px;
  justify-content: center;
  align-items: center;
  color: white;
}


.alert {
  background: var(--error-red);
  color: var(--error-text);
  border-bottom: solid 1px var(--error-text);
}


@media only screen and (max-width: 600px) {
  .navbar-nav.ml-auto.mt-2 {
    background:var(--foreground-1);
  }
}