

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 105; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  width: 70vw;
  transition: .3s;
  position:relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transform: translateY(-10px);
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#modal-project-name {
	color: white;
	font-size: 3rem;
	font-weight: normal;
}
#modal-project-date {
	color: var(--main-highlight);
	font-size: 1.4rem;
	font-weight: normal;
	margin-left: 10px;
}
#modal-project-type {
	color: var(--secondary-highlight);
	font-size: 1.5rem;
	font-weight: normal;
	display:block;
}
#modal-project-desc {
	margin-top: 10px;
	color: white;
	font-size: 1.5rem;
	font-weight: normal;
	display:block;
}
#modal-image-container {
	margin-top: 5vh;
	width: 100%;
	text-align: center;
	position: relative;
	user-select: none;
}
#modal-image-container img {
	max-width: 60%;
	border-radius: 10px;
	user-select: none;
}







.accept-button {
  background: #2FDD92;
  margin-right: 20px;
}
.accept-button:hover {
  background: #34BE82;
}

.reject-button {
  background: #EC255A;
}
.reject-button:hover {
  background: #d11749;
}


h1 {
	font-size: 35px;
	font-weight: bold;
}
td.title {
	line-height: .8;
}
.creator-text {
	color: #353535;
	font-size: 20px;
}/*
.hours-text, .collaborator-count {
	color: #5B5B5B;
	font-weight: bold;
}*/
.points {
	color: #353535;
	display: block;
	font-weight: bold;
	font-size: 1.2em;
}
.points span {
	color: #F037A5;
	display: inline-block;
	margin-right: .2em;
}
.points div {
	display: inline-block;
}
.stats {
	color: #353535;
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.desc-text {
	color: #5B5B5B;
}

.pts-td {
	text-align: right;
}