.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 105; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal2 .accept-button {
	width: 100%;
}

.modal-content2 {
  background-color: white;
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  width: 70vw;
  transition: .3s;
  position:relative;
}

.close2 {
  color: var(--close-button);
  float: right;
  font-size: 28px;
  font-weight: bold;
  transform: translateY(-10px);
}

.close2:hover,
.close2:focus {
  color: var(--close-button-hover);
  text-decoration: none;
  cursor: pointer;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 105; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  width: 70vw;
  transition: .3s;
  position:relative;
}

.close {
	position: absolute;
	right: 15px;
  color: var(--close-button);
  float: right;
  font-size: 28px;
  font-weight: bold;
  transform: translateY(-10px);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}







.accept-button {
  background: var(--focus-green-light);
  margin-right: 20px;
}
.accept-button:disabled {
  background: var(--focus-green-light);
}
.accept-button:hover {
  background: var(--focus-green-dark);
}
.accept-button:disabled:hover {
  background: var(--focus-green-light);
}

.reject-button {
  background: var(--focus-red-light);
}
.reject-button:hover {
  background: var(--focus-red-dark);
}


h1 {
	font-size: 35px;
	font-weight: bold;
}
td.title {
	line-height: .8;
}
.creator-text {
	color: var(--text-main);
	font-size: 20px;
}/*
.hours-text, .collaborator-count {
	color: #5B5B5B;
	font-weight: bold;
}*/
.points {
	color: var(--text-main);
	display: block;
	font-weight: bold;
	font-size: 1.2em;
}
.points span {
	color: var(--focus-pink);
	display: inline-block;
	margin-right: .2em;
}
.points div {
	display: inline-block;
}
.stats {
	color: var(--text-main);
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.desc-text {
	color: var(--text-weak);
}

.pts-td {
	text-align: right;
}



.emails {
  border: 1px solid var(--border-1);
  line-height: .8;
}

.chatroom{
  border-radius: 25px;
  border: 1px solid black;
}

.chat{
  margin: 20px;
}

.messages{
  overflow-y: scroll;
  overflow-wrap: break-word;
  height: 250px;
}


