{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}


{% block head %}
    <link href="/static/browse.css" rel="stylesheet">
{% endblock %}


{% block mainnocont %}
	<div class="active-task-wrapper">
		<h1>Your Active Tasks ({{len(active_tasks)}})</h1>
		<div class="active-task-grid">
			{% for task in active_tasks %}
					<a class = "div-link" href="/task/{{task.id}}">
						<div class="atask">
							<span class="task-name">{{ task["title"] }}</span>
							<span class="task-creator">{{ task["creator"] }}</span>
							<span class="task-desc">{{ task["description"] }}</span>
							<div class="task-stats">
								<span class="task-time">{{ task["hmin"] }}-{{ task["hmax"] }} hours</span>
								<span class="task-collaborator-count">{{ task["collaborators-count"] }}/{{ task["cmax"] }} collaborators</span>
							</div>
						</div>
					</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block main %}
	{% for task in tasks %}
		<a class = "div-link" href="/task/{{task.id}}">
			<div class="task">
				<span class="task-points">{{ task["points"] }} pts</span>
				<span class="task-name">{{ task["title"] }}</span>
				<span class="task-creator">by {{ task["creator"] }}</span>
				<span class="task-desc">{{ task["description"] }}</span>
				<div class="task-stats">
					<span class="task-time">{{ task["hmin"] }}-{{ task["hmax"] }} hours</span>
					<span class="task-collaborator-count">{{ task["collaborators-count"] }}/{{ task["cmax"] }} collaborators</span>
				</div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
