{% extends "layout.html" %}

{% block title %}
    Notifications
{% endblock %}


{% block head %}
    <link href="{{ url_for('static', filename='notifications.css') }}" rel="stylesheet">
{% endblock %}


{% block main %}
  <table>
    {% if notifications %}
      {% set i = namespace(value=0) %}
      {% for notification in notifications %}
      <tr>
        {% if notification["format"] == "join-prompt"%}
          <td><a href="/opus/profile/{{notification["user"]}}">{{notification["user"]}}</a> wants to join <a>{{notification['task-name']}}</a></td>
          <td class="acceptreject">
            <button onclick = "postData(1,{{notification['task-id']}}, {{'\"'+notification['user']+'\"'}}, {{i.value}})" class="btn btn-primary accept-button">Accept</button>
            <button onclick = "postData(-1, {{notification['task-id']}}, {{'\"'+notification['user']+'\"'}}, {{i.value}})" class="btn btn-primary reject-button">Reject</button>
          </td>
        {% elif notification["format"] == "accept-notification"%}
          <td>You have been accepted for <a>{{notification['task-name']}}</a></td>
           <td></td>
        {% elif notification["format"] == "reject-notification"%}
          <td>You have been rejected from <a>{{notification['task-name']}}</a></td><td></td>
        {% elif notification["format"] == "complete" %}
          <td>You have completed <a>{{notification['task-name']}}</a></td><td></td>
        {% elif notification["format"] == "delete" %}
          <td>Task <a>{{notification['task-name']}}</a> has been deleted</td><td></td>
        {% endif %}
      </tr>
       {% set i.value = i.value + 1 %}
       {% endfor %}

     {% else %}
       <tr>
        <td style="background:#f2f2f2;">You don't have any notifications, check again later...</td>
       </tr>
     {% endif %}
    
  </table>

  <script src="{{ url_for('static', filename='notifications.js') }}"></script>
{% endblock %}