{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='register.css')}}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
{% endblock %}

{% block main %}
    <div class = "wrapper">
        <div>
            <h1>Sign Up</h1>
            <p>Sign up to start creating and joining tasks!</p>
        </div>
        
        <form action="/opus/register" method="post">
            <div class="form-group input-area">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="&#xf007;  Username" type="text" style="font-family:Arial, FontAwesome">
            </div>
            <div class="form-group input-area">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="&#xf0e0;  Email" type="email" style="font-family:Arial, FontAwesome">
            </div>
            <div class="form-group input-area">
                <input class="form-control" name="password" placeholder="&#xf023;  Password" type="password" style="font-family:Arial, FontAwesome">
            </div>
            <div class="form-group input-area">
                <input class="form-control" name="confirm-password" placeholder="&#xf023;  Confirm Password" type="password" style="font-family:Arial, FontAwesome">
            </div>
            <button class="btn btn-primary submit-button" type="submit">Create Account</button>
        </form>
{% endblock %}
