{% extends "layout.html" %}

{% block title %}
    Task Creation
{% endblock %}
{%block head%}
<head>
  <link rel="stylesheet" href="/static/taskCreation.css">
  


    

</head>
{% endblock %}

{% block main %}
     <!-- This was basically the template I was thinking for all the stuff yeah-->
     <div class = "form-div">
       <div class="above-form">
         <h2>Create a Task</h2>
         <h6>Fill out this form to create a task other users can join</h6>
      </div>
     </div>
     
     <div class = "wrap">
      
      <form id = "taskform" action="/createTask" method="post">
        <div class="form-group">
          <label style = "padding-right: 10px;">
            <input autocomplete="off" autofocus class="form-control" name="title" id = "title" placeholder="Name" type="text">
          </label>
          <span class="input-group-btn" style="width:0px;"></span>            
          <label>
            <input class="form-control" min=2 max=10 name="cmax" placeholder="Max Collaborators (2-10)" id="cmax" type="number">
          </label>
        </div>
        <div class="form-group" style="padding-top: 10px;">
          <label style="padding-right: 10px;">
            <input class="form-control" name="hmin" min=1 onchange="document.getElementById('hmax').min = this.value;" placeholder="Minimum Hours" id="hmin" type="number">
          </label>
          <label>
            <input class="form-control" name="hmax" max = 4096 onchange="document.getElementById('hmin').max = this.value;" placeholder="Maximum Hours" id="hmax" type="number">
          </label>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="Description" id = "description" type="text"></textarea>
        </div>
        <!-- <div class="form-group">
            <input class="form-control" name="languages" placeholder="Languages Needed" type="text" data-role = "tagsinput">
        </div> -->
        <label>
          <div class = "lang-container">
            <div class = "form-group input-container">
              <div class = "title" style="text-align: left;">
                <h4>Languages Needed</h4>
                <p>Add a comma after each language</p>
              </div>
              <input class="form-control" id = "languages" name="test" placeholder="Languages Needed" type="text" data-role = "tagsinput">
              <input type="hidden" name = "languages" id="hiddenInput" value="">
              <div class = "language-container" id = "langtags"></div>
            </div>
          </div>
        </label>
        
        <div class = "center-button">
          <button class="btn btn-primary submit-button" type="submit">Create Task</button>
        </div>
    </form>
     </div>
   </div>
     
     <script type="text/javascript" src="/static/languages.js"></script>
     <script src="/static/validation.js"></script>
     
     
{% endblock %}