{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}


{% block head %}
    <link href="/static/task.css" rel="stylesheet">
{% endblock %}


{% block main %}
<table class="table">
  <tbody>
    <!-- <tr>
      <td>id: {{task.id}}</td>
    </tr> -->
    <tr>
      <td class="title"><h1>{{ task.title }}</h1><span class="creator-text">by <a href="/profile/{{creator.username}}">{{creator.username}}</a></span></td><td class="pts-td"><span class="points"><span>{{task.points}}</span><div> pts</div></span></td>

    </tr>
    <tr>
      
    </tr>
    {% if "description" in task %}
    <tr>
      <td colspan="2" class="description-text">{{task.description}}</td>
    </tr>
    {% endif %}
    
    <tr>
      <td colspan="2" width="100%">
        <div class="stats">
        <span class="hours-text">{{task.hmin}}-{{task.hmax}} hrs</span>
        <span class="languages-text">Languages: {{task.languages}}</span>
        <span class="collaborators-text">Collaborators ({{len(collaborators)}}): {% for i,c in enumerate(collaborators)%}<a href="/profile/{{c['username']}}">{{c['username']}}</a>{% if i < len(collaborators)-1%}, {% endif %}{% endfor %}</span>
        <span class="cmax-text">Max Collaborators: {{task.cmax}}</span>
      </div>
      </td>
        
    </tr>
    {% if task.image %}
    <tr>
    	<td><img src = "{{task.image}}"></td>
    </tr>
    {% endif %}
    {% if is_user_task %}
    <tr>
      <td colspan="2" width="100%" style="text-align: center;">
        <button onclick = "openCompleteConfirmModal()" class="btn btn-primary accept-button">Mark Task as Complete</button>
        <button onclick = "openDeleteConfirmModal()" class="btn btn-primary reject-button">Delete</button>
      </td>
    </tr>
    {% elif is_collab_task %}
    <tr>
      <td colspan="2" width="100%" style="text-align: center;">
        <button onclick = "postData('leave')" class="btn btn-primary reject-button">Leave Task</button>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="2" width="100%" style="text-align: center;">
        <button {{ should_disable }} onclick = "postData('join')" class="btn btn-primary accept-button">Request to Join</button>
      </td>
    </tr>
    {% endif %}
    
  </tbody>
  
</table>
<div style="display:flex;justify-content: center;">
<table class="table emails" style="text-align:center;width:25%;">
  <tbody>
    {% for i,c in enumerate(collaborators)%}
      <tr>
        <td style="text-align:right;"><a href="/profile/{{c['username']}}">{{c['username']}}</a></td>
        <td style="text-align:left;">{{c['email']}}</td>
      </tr>
    {% endfor %}
    
  </tbody>
</table>
</div>

<div class="chatroom">
  {% if lenPosts > 0 %}
    {% for p in posts %}
    <div class="post">
      <p>{{ uid_to_username[p.author] }}: {{ p.message }}</p>
    </div>
    {% endfor %}
  {% else %}
    <p>There are no messages in this chat. Be the first to send a message.</p>
    <form id = "sendmsg" action="">
      <input type="hidden" name="author" value="{{ user.id }}">
      <input type="hidden" name="task" value="{{ task.id }}">
      <input type="text" style="width: 400px;" name="message" placeholder="Message {{ task.title }}">
    </form>
  {% endif %}
</div>

<div id="project-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Are you sure you want to delete "{{ task.title }}?"</h2>
    <p>This is a permenant action, you cannot undo after confirming.</p>
    <button onclick = "deleteTask()" class="btn btn-primary reject-button">Delete Task</button>
  </div>
</div>

<div id="project-modal2" class="modal2">
  <div class="modal-content2">
    <span class="close2">&times;</span>
    <h2>Are you sure you want to complete "{{ task.title }}?"</h2>
    <p>This is a permenant action, you cannot undo after confirming.</p>
    <button onclick = "completeTask()" class="btn btn-primary accept-button">Mark Task as Completed</button>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/static/task.js"></script>
{% endblock %}